{% load i18n unfold %}

<div class="relative z-60" x-bind:class="{'select-none': resizing}" x-on:mousemove.window="if (resizing) { sidebarWidth = Math.min(max, Math.max(min, $event.clientX)); localStorage.setItem('sidebarWidth', sidebarWidth); }" x-on:mouseup.window="resizing = false" x-data="{ min: 220, max: 360, resizing: false, sidebarWidth: (localStorage.getItem('sidebarWidth') !== null) ? parseInt(localStorage.getItem('sidebarWidth')) : 280 }" x-init="$watch('sidebarMobileOpen', value => { document.body.style.overflow = value ? 'hidden' : '' })">
    <!-- Mobile overlay -->
    <div class="fixed inset-0 bg-black/50 z-40 xl:hidden" x-show="sidebarMobileOpen" x-on:click="sidebarMobileOpen = false" x-transition.opacity style="display: none;"></div>

    <div class="fixed hidden xl:relative xl:block {% element_classes 'navigation_wrapper' %}" x-bind:class="{'sidebar-narrow': !sidebarDesktopOpen, 'sidebar-expanded': sidebarDesktopOpen, 'block!': sidebarMobileOpen}" x-bind:style="`width: ${sidebarMobileOpen ? sidebarWidth : (sidebarDesktopOpen ? sidebarWidth : 70)}px`" id="sidebar-main-wrapper">
        <div class="bg-base-50 relative z-30 dark:bg-base-900" style="height: 100%;">
            <div id="nav-sidebar" class="bg-base-50 border-r border-base-200 bottom-0 fixed max-h-screen top-0 dark:border-base-800 dark:bg-base-900 {% element_classes 'navigation' %}" x-bind:style="`width: ${sidebarMobileOpen ? sidebarWidth : (sidebarDesktopOpen ? sidebarWidth : 70)}px`">
                {% if templates.navigation %}
                    {% include templates.navigation %}
                {% else %}
                    {% include "unfold/helpers/navigation.html" %}
                {% endif %}

                <!-- Resize handle (only when expanded) -->
                <div class="absolute bottom-0 cursor-col-resize flex group items-center justify-center right-[-3px] top-0 resize w-[7px]" x-show="sidebarDesktopOpen" x-on:mousedown="resizing = true">
                    <div class="h-full w-[3px] transition-colors group-hover:bg-base-300 group-hover:dark:bg-base-700"></div>
                </div>
            </div>
        </div>
    </div>
</div>
